
body{
    background-image: linear-gradient( blue  ,white,blue);
    border-bottom-color: brown;
}

a {
    text-decoration: none;
}
.navbar{
    list-style-type: none;
    background-color: #282828;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin-top: 0;
}
.navbar li{
    padding-left: 15px;
    color: #fff;
}

.navbar li a {
    padding: 10px;
    color: #fff;
}

.navbar a.active, .navbar a:hover{
    color: #EA8A95;
}
.right{
    float: right;
    padding-right: 460px;
    padding-top: 18px;
}
.love{
    background-color: yellow;
    padding :6px;
    border-radius: 50%;
    margin: 4px;
    
}
.left{
    padding-left: 200px;
    padding-bottom: 5px;
}
h2{
    color: white;
    font-size: 34px;
}
h1{
    padding-left: 190px;
    font-size: 20px;
    color: white;
}
h3{
    color: yellow;
    font-style: oblique;
    font-size: 29px;
}
.text{
    width: 23.5%;
    padding: 10px;
    border-radius: 5px;
}
.button{
    padding: 10px;
    width: 25.5%;
    background-color: yellow;
    border-radius: 5px;
}
.new{
    background-color: yellow;
    border-radius: 50%;
    padding: 6px;
    margin: 3px;
}
.pag{
    padding-left: 190px;
}